
@{
    ViewBag.Title = "UnathorizedOperation";
    Layout  = "~/Views/Shared/_layout.cshtml";

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaError</title>
    <hi>Error no tienes acceso</hi>
</head>
<body>
    <div>
        <h3><i class="fade fade alert"></i>Sin Autorizacion</h3>

    </div>
</body>
</html>
